
/* Paleta de colores*/
$color-principal:  rgb(247, 236, 236);
$text-color:  rgb(83, 80, 80);
$text-color-titulos: rgb(3, 3, 3);
$color-nav: white;
$color-secundario-2: rgb(240, 216, 237);
$font-principal: xx-large; 
$font-secundarias: medium; 
$font-navegador: large;
$font-productos: x-large;
$letra-principal: 'Oswald';

